<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MediSmart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main2.css') }}" />
<head>
	<title>home</title>
</head>
<body>


	<center>
<img src="http://yanismammo.pythonanywhere.com/logo" style="width:550px;height:300px;" >
	<div>

<a href="/home" class="button">Ouvrir</a>
<div id="class" style="padding: 20px;">
<p>
	Fondateur : KAAFARANI Yanis
</p>
</div>


 </center>
</body>
</html>




